.cv {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 40px;
}

.cv-section {
    background-color: paleturquoise;
    opacity: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.cv-location {
    margin-top: 0;
    color: darkslateblue;
}

.cv-title {
    font-weight: bold;
}

.cv-header {
    border-bottom: solid black 2px;
    padding-top: 10px;
}

.cv-item {
    margin-bottom: -15px;
}

#education {
    padding-bottom: 20px;
}