.cv-doc {
    overflow: hidden;
}

.cv-page {
    padding: 10px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.cv-modal {
    overflow: hidden;
}

.cv-modal button {
    margin: 10px;
    background-color: paleturquoise;
}

.close-modal-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: darkgray;
}

.close-modal-icon:hover {
    color: gray;
}