.portfolio {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-bottom: 60px;
}

.project-box {
    padding: 10px;
    margin-top: 10px;
}

.project-info {
    background-color: rebeccapurple;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    opacity: 80%;
}

.project-links{
    margin-top: 5px;
    background-color: rebeccapurple;
    height: 25px;
    width: 100%;
    opacity: 80%;
}

.project-links a {
    padding: 10px;
}

img {
    width: 100%;
    max-height: 500px;
}
