@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.App {
  text-align: center;
  background-image: url("../assets/background\ \(2\).jpg");
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto Mono';
}

.App-link {
  color: #61dafb;
}
