@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.App {
  text-align: center;
  background-image: url("../assets/background\ \(2\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto Mono';
  min-height: 100vh;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.filter {
  background-color: black;
  opacity: 70%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.sidebar1 {
  height: 100%;
  width: 1vw;
  border-right: solid white 1px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 20%;
}

.sidebar2 {
  height: 100%;
  width: 1.5vw;
  border-right: solid white 1px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 20%;
}

.sidebar3 {
  height: 100%;
  width: 1vw;
  border-left: solid white 1px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 20%;
}

.sidebar4 {
  height: 100%;
  width: 1.5vw;
  border-left: solid white 1px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 20%;
}