.nav-bar {
    background-color: black;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 2;
    opacity: 80%;
}

.nav-text {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color:slateblue;
    padding-right: 10px;
}

#tabs {
    float: right;
}

.tab {
    padding: 10px;
    display: block;
}

.tab:hover {
    cursor: pointer;
    color: palevioletred;
}

.active {
    color: navy;
}


.name {
    float: left;
    padding: 10px;
    padding-left: 20px;
    color:slateblue;
}