.about {
    text-align: left;
    margin: auto;
    width: 80%;
    padding: 10px;
    color: white;
    padding-top: 80px;
}


.about-intro {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-section-top {
    background-color: rgba(112, 5, 50, 0.4);
    color: crimson;
    width: 100%;
    min-height: 40px;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 15px 15px 0 0;
}

.about-section-bottom {
    color: white;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0 0 15px 15px;
    text-align: left;
    min-height: 150px;
}

#about-top {
}

#about-bottom {
    background-color: rgba(30,30,30, .7);
    padding: 10px;
}

#skills-top {

}

#skills-bottom {

}

.about-section-top h4 {
    opacity: 100%;
}

.about-icon {
    float: right;

}

.skill-icon {
    float: left;
    margin-left: 7px;
    margin-top: 7px;
}

.about-skill {
    text-align: center;
    background-color: rgba(30,30,30, .7);
    min-height: 35px;
    margin-bottom: 5px;
}

.about-skill p {
    padding-top: 5px;
}

