.about {
    text-align: left;
    margin: auto;
    width: 95%;
    color: white;
    padding-top: 80px;
    padding-bottom: 40px;
}

.about-intro {
    margin-bottom: 30px;
}

.about-section-top {
    background-color: rgba(53, 0, 66, 0.8);
    color: slateblue;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 15px 15px 0 0;
    z-index: 2;
}

.about-section-bottom {
    color: darkgray;
    width: 100%;
    margin-bottom: 23px;
    border-radius: 0 0 15px 15px;
    text-align: left;
    min-height: 151.2px;
    z-index: 2;
    border: solid black 1px;
}

.skill-section-bottom {
    color: darkgray;
    width: 100%;
    margin-bottom: 23px;
    border-radius: 0 0 15px 15px;
    text-align: left;
    min-height: 155px;
    z-index: 2;
}

#about-bottom {
    background-color: rgb(21, 20, 26, 0.8);
    padding: 10px;
}



.about-skill-wrap {
    margin-left: 2px;

}

.about-icon {
    float: right;
    color:cornflowerblue;
    opacity: 0.3;
    margin-right: 10px;
}

.skill-icon {
    float: left;
    margin-left: 7px;
    margin-right: 15px;
    margin-top: 7px;
}

.about-skill {
    background-color: rgba(30,30,30, .7);
    height: 35px;
    margin-bottom: 3px;
    border: black 1px solid;
}

.about-skill p {
    padding-top: 5px;
}

#last {
    border-radius: 0 0 15px 15px;
    margin-bottom: 0;
}

.about h3 {
    z-index: 2;
    position: relative;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.it-me {
    border-radius: 50%;
    border: solid black 1px;
    float: right;
    position: relative;
    top: -5px;
}

.bold {
    color: white;
}

.top-bold {
    color: orangered;
}

.robot {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .it-me{
        display: none;
    } 

    .about-skill-wrap {
        margin-left: 0;
        position: relative;
        width: 106.3%;
        left: -15px;
    }

    .about-section-bottom {
        min-height: 200px;
    }
}