.preview img {
    height: 5.8vw;
    width: 5.8vw;
    max-width: 80px;
    max-height: 80px;
}

#current-preview img {
    box-shadow: 0 0 2px 2px white;
}

#not-current-preview img:hover {
    box-shadow: 0 0 2px 2px white;
}
