.footer {
    color:crimson;
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px;
    border-top: crimson 3px double;
    background-color: rgba(112, 5, 50, 0.4);
}

.footer p {
    float: right;
    padding-right: 10px;
    padding-top: 4px;
}

#social-links {
    float: left;
}

.social {
    display: block;
    padding-left: 10px;
}

.social a {
    color:crimson;
}